[submodule "Kha"]
	path = Kha
	url = https://github.com/Kode/Kha.git
	branch = master
[submodule "Libraries/Kha2D"]
	path = Libraries/Kha2D
	url = https://github.com/Kha-Samples/Kha2D.git
	branch = master
